<div class="min-h-screen bg-gray-900 text-gray-100 p-8 font-sans flex gap-6">
  <!-- SIDE PANEL -->
  <app-sidebar></app-sidebar>

  <!-- MAIN WINDOW -->
  <div
    class="flex-1 bg-gray-800 p-4 rounded shadow-lg border border-gray-700 min-h-[600px] flex flex-col"
  >
    <!-- NAVIGATION TABS -->
    <div class="h-10 flex items-center justify-between mb-4 border-b border-gray-700 text-sm">
      <div class="flex gap-2">
        <button
          (click)="switchTab(Tab.Tree)"
          [class.bg-gray-700]="activeTab() === Tab.Tree"
          [class.text-green-400]="activeTab() === Tab.Tree"
          [class.text-gray-400]="activeTab() !== Tab.Tree"
          class="font-bold px-4 py-1.5 rounded-md transition-colors hover:bg-gray-700 hover:text-green-300"
        >
          Tree
        </button>
        @if (storylineService.isMutationUnlocked()) {
          <button
            (click)="switchTab(Tab.Mutation)"
            [class.bg-gray-700]="activeTab() === Tab.Mutation"
            [class.text-green-400]="activeTab() === Tab.Mutation"
            [class.text-gray-400]="activeTab() !== Tab.Mutation"
            class="font-bold px-4 py-1.5 rounded-md transition-colors hover:bg-gray-700 hover:text-green-300"
          >
            Mutations
          </button>
        }
      </div>

      <!-- SETTINGS BUTTON -->
      <button
        (click)="switchTab(Tab.Settings)"
        [ngClass]="
          activeTab() === Tab.Settings
            ? 'bg-gray-600 text-white border-gray-500'
            : 'bg-gray-800 text-gray-300 border-gray-700 hover:bg-gray-700'
        "
        class="font-bold px-4 py-1.5 rounded-md text-xs border transition-colors shadow-sm"
      >
        Settings
      </button>
    </div>

    <!-- CONTENT AREA -->
    <div class="flex-1">
      @if (activeTab() === Tab.Tree) {
        <app-tree-tab></app-tree-tab>
      } @else if (activeTab() === Tab.Mutation) {
        <app-mutation-tab></app-mutation-tab>
      } @else if (activeTab() === Tab.Settings) {
        <app-settings-tab></app-settings-tab>
      }
    </div>
  </div>

  <app-log-sidebar></app-log-sidebar>
</div>
