<div class="w-64 bg-gray-800 p-3 rounded shadow-lg border border-gray-700 h-fit text-sm">
  <h2 class="font-bold mb-2 border-b border-gray-600 pb-1 text-gray-300">Zasoby</h2>

  <div class="flex flex-col mt-2">
    <!-- ========================================== -->
    <!-- WATER                                      -->
    <!-- ========================================== -->
    <app-resource-bar
      [name]="resourceService.water().name"
      [amount]="resourceService.water().amount"
      [maxAmount]="resourceService.water().maxAmount"
      [netGeneration]="netWaterGeneration()"
      [breakdown]="waterBreakdown()"
      [capacityBreakdown]="globalCapacityBreakdown()"
      colorClass="text-blue-400"
      bgDarkClass="bg-blue-900"
      bgLightClass="bg-blue-500"
    ></app-resource-bar>

    <!-- ========================================== -->
    <!-- MINERALS                                   -->
    <!-- ========================================== -->
    @if (resourceService.minerals().isUnlocked) {
      <app-resource-bar
        [name]="resourceService.minerals().name"
        [amount]="resourceService.minerals().amount"
        [maxAmount]="resourceService.minerals().maxAmount"
        [netGeneration]="netMineralsGeneration()"
        [breakdown]="mineralsBreakdown()"
        [capacityBreakdown]="globalCapacityBreakdown()"
        colorClass="text-gray-400"
        bgDarkClass="bg-gray-700"
        bgLightClass="bg-gray-400"
      ></app-resource-bar>
    }

    <!-- ========================================== -->
    <!-- ENERGY                                     -->
    <!-- ========================================== -->
    @if (resourceService.energy().isUnlocked) {
      <app-resource-bar
        [name]="resourceService.energy().name"
        [amount]="resourceService.energy().amount"
        [maxAmount]="resourceService.energy().maxAmount"
        [netGeneration]="netEnergyGeneration()"
        [breakdown]="energyBreakdown()"
        [capacityBreakdown]="globalCapacityBreakdown()"
        colorClass="text-yellow-400"
        bgDarkClass="bg-yellow-900"
        bgLightClass="bg-yellow-500"
      ></app-resource-bar>
    }
  </div>
</div>
